.SITE-logo {
  /* margin: 5% 0%; */
  display: flex;
  justify-content: center;
}

.other-logos {
  display: flex;
  justify-content: space-around;
  margin: 7% 0%;
}

.body {
  width: 90%;
}

@media screen and (max-width: 1024px) {
  .body {
    width: 90%;
    margin-top: 10rem;
  }
}

.Azadi-logo-inner {
  width: 400px;
}
.IIC-logo-inner {
  margin-top: 100px;
  width: 650px;
}
.G20-logo-inner {
  margin-left: 2vw;
  width: 400px;
}
.axure-logo-inner {
  margin-top: 90px;
  width: 500px;
}
.spon-logo-inner {
  width: 300px;
  margin-top: 0px;
  height: 80px;

}
.pizzahut-logo-inner{
  width: 270px;
  margin-top: 120px;
  margin-left: 45px;
  height: 120px;
}
@media screen and (max-width: 1300px){
  .pizzahut-logo-inner{
    width: 300px;
    margin-top: 100px;
    margin-left: 40px;
    height: 130px;
  }
}
@media screen and (max-width: 1050px){
  .pizzahut-logo-inner{
    width: 280px;
    margin-top: 100px;
    margin-left: 20px;
    height: 80px;
  }
}
@media screen and (min-width: 761px) {
  .axure-logo-inner {
    margin-bottom: 90px;
    width: 500px;

  }
}
@media screen and (max-width: 760px) {
  .other-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Azadi-logo-inner {
    width: 200px;
    margin-top: 50px;
  }
  .IIC-logo-inner {
    margin-top: 0px;
    width: 300px;
  }
  .G20-logo-inner {
    margin-left: 2vw;
    width: 200px;
  }
  .axure-logo-inner {
    margin-top: 0px;
    width: 200px;
    margin-bottom: 20px;
  }
  .spon-logo-inner {
    width: 150px;
    margin-top: 0px;
    height: 95px;
  }
  .pizzahut-logo-inner{
    width: 180px;
    margin-top: 30px;
    height: 135px;
    margin-left: 0px;

  }
}
