.custom-card{
  flex-basis: 24vmax;
  position: relative;
  height: 10rem;
  width: 4rem;
  margin: 5% 3%;
  background: #00ffed !important;
  clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
}

.card_top {
  position: absolute;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: solid #00ffed;
  background: #000917;
  clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
}

.card_heading {
  width: 63%;
  margin: auto;
  padding: 5%;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 900;
  font-size: 1.7vw;
  line-height: 1.7vw;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #00ffed;
}


@media screen and (max-width: 1024px) {
  .card_heading {
    font-size: 2.25vmax;
    line-height: 2.2vmax;
  }

  

  .card {
    flex-basis: 38vmax;
    height: 30vmax;
    margin: 5% 0%;
  }
}
@media screen and (max-width: 720px) {
  .card_heading {
    font-size: 2.5vmax;
    line-height: 2.5vmax;
  }

  

  .card {
    flex-basis: 40vmax;
    width: 20rem;
    height: 19rem;
    margin: 5% 2%;
  }

  .heading_outer {
    height: 6vmax !important;
    width: calc(37vmax) !important;
  }

  .heading {
    font-size: 3vmax !important;
  }
}
